$color-font:black;
$color-bkg:white;

html{
  overflow-x: hidden;
  overflow-y: scroll;
}

body{
  margin: 0;
  padding: 0;
  position: relative;
  font-size:15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  color:	$color-font;
  background: $color-bkg;
}
a{
  text-decoration: none;
  color: 	inherit;
  &:hover{
    color: 	inherit;
    text-decoration: none;
  }
}

.flex{
  display: flex;
}

.nav__wrapper{
  width: 100%;
  height: 50px;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  .nav__item{
    width: 80px;
    height: 50px;
    padding-top:12.5px;
    position: relative;
    cursor: pointer;
    font-size: 1.1rem;
    &:before{
      content: "";
      position: absolute;
      width: calc(100% - 26px);
      height: 2px;
      bottom: 12px;
      left: 13px;
      visibility: hidden;
      background-color: white;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover:before{
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  .nav__logo{
    position: absolute;
    left:10px;
    top:12px;
    width: 30px;
    height: auto;

    &:hover{
      transform: scale(1.05)
    }
  }
}

// HOME
.home__wrapper{
  margin-top: calc(100vh);
}

.home__element{
  height: 500px;
  width: inherit;
  padding: 10vh 10vw;
  position: relative;


}

.home__white{
  background-color: white;
}
.home__grey{
  background-color:rgb(247, 247, 247);
}
.home__down{
  position: absolute;
  top:93vh;
  left: calc(50vw - 32px);
}
.home__child{
  flex:0.5;
  position: relative;
  margin: 0 5px;
}
.gis__img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gis__text{
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 8%;
}
.ml__img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 35vw;
  height: auto;
}
.ml__text{
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10vh 2vw; 
}
.bd__img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 35vw;
  height: auto;
}
.bd__text{
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10vh 2vw; 
}
.wd__img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 35vw;
  height: auto;
}
.wd__text{
  font-size: 1.6rem;
  font-weight: 500;
  padding: 10vh 2vw; 
}

// HERO
.hero__wrapper{
  width:100vw;
  position: relative;
}

.hero__img{
  background: url("./assets/hero2.jpg");
  position: absolute;
  top:-50px;
  width: 100vw;
  height: 96.5vh;
  z-index: -1;
  background-size: cover;
}
.hero__text{
  position: absolute;
  left:25vw;
  top: 27vh;
  font-size: 7vw;
  font-weight: 100;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


//CV
.cv__container{
  padding: 10px 20vw;
  position: relative;
  background: grey;
}
.react-pdf__Document{
  margin: 0 7.5vw;
}
.cv__page{
  position: absolute;
  right: 10%;
  bottom: 10px;
}
.cv__buttons{
  position: absolute;
  right:10%;
  bottom:20px;
}


//contact
.contact__container{
  justify-content: center;
  align-items: center;
  margin: 0 20vw;
}
.contact__item{
  margin: 2px 0;
}
textarea{
  resize: none;
}
.textarea.bp3-input{
  height: 200px;
}

